.goal-cards {
    border: lightslategray solid 2px;
    max-width: 80vw;
    margin: 10px auto;
    padding: 15px;
}

.goal-cards > p {
    cursor: pointer;
    margin: 0;
}

button.goal-cards {
    background-color: lightslategray;
    border: 2px solid lightslategray;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

button.goal-cards:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}