.goal-cards {
    border: lightslategray solid 2px;
    max-width: 80vw;
    margin: 10px auto;
    padding: 5px 15px;
}

.goal-cards > p {
    margin: 0;
}

button.goal-cards {
    background-color: lightslategray;
    border: 2px solid lightslategray;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

button.goal-cards:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}


@media (min-width: 1024px) {
    .goal-cards {
        padding: 15px;
    }

    button.goal-cards {
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 15px;
        margin-right: 15px;
    }
}