.GoalsNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightslategray;
    padding: 10px 0;
}

button.week-nav {
    font-size: 16px;
    margin-right: 15px;
    border: none;
    padding: 10px 20px;
    background: none;
    border: 2px solid deepskyblue;
    transition-duration: 0.4s;
}

button.week-nav:hover {
    cursor: pointer;
    background-color: deepskyblue;
    color: white;
}

.GoalsNav button {
    font-size: 16px;
    border: 2px white solid;
    background-color: lightslategray;
    color: white;
    padding: 5px 0;
    width: 80px;
}

.GoalsNav button:hover {
    cursor: pointer;
    border: 2px deepskyblue solid;
}

.GoalsNavSection {
    padding-top: 5px;
    padding-bottom: 5px;
}