.methodology-cards {
    background-color: lightgray;
    margin: 10px auto;
    padding: 10px;
    margin-top: 25px;
}

.methodology-cards:hover {
    cursor: pointer;
}

.section-break {
    margin-top: 25px;
    border-top: 5px solid gainsboro;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-container {
    width: 80vw;
}

.landing-page-container > div > h1 {
    font-size: 24px;
}

.photo-banner {
    background-color: lightgray;
    font-size: 1.25em;
}

img.landing-page-image {
    width: 100%;
    opacity: 0.75;
}

@media (min-width: 760px) {
    .methodology {
        padding: 15px;
    }

    .landing-page-container > div > h1 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    .methodology {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px;
    }

    .methodology-cards {
        width: 25vw;
    }

    .landing-page-container > div > h1 {
        font-size: 32px;
    }
}