.methodology-cards {
    background-color: lightgray;
    max-width: 80%;
    margin: 10px auto;
    padding: 5px;
}

.methodology-cards:hover {
    cursor: pointer;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-page-container {
    width: 80vw;
}

.photo-banner {
    background-color: lightgray;
    font-size: 1.25em;
}

img.landing-page-image {
    width: 100%;
    opacity: 0.75;
}

@media (min-width: 1024px) {
    .methodology {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .methodology-cards {
        width: 25vw;
    }
}