.addGoal {
    width: 80vw;
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid lightslategray;
}

.addGoal > span > h2 {
    padding: 0;
    margin: 0;
}
  
.addGoal__buttons {
    margin-top: 5px;
    padding: 10px;
    text-align: right;
}
  
.addGoal__form input, .addGoal__form textarea, .addGoal__form label {
    display: block;
    margin-top: 5px;
}
  
.addGoal__form label {
    text-align: left;
    font-size: 0.9em;
}

select {
    width: 80%;
}

button.addGoals {
    background-color: lightslategray;
    border: 2px solid lightslategray;
    color: white;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 15px;
}

button.addGoals:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}