.dashboard-cards {
    max-width: 80%;
    margin: 2px auto;
    padding: 5px;
    font-weight: bold;
}

.goals-missing-message {
    color: red;
}

@media (min-width: 1024px) {
    .dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .dashboard-cards {
        width: 40vw;
    }
}