.PageFooter {
    border-top: solid 1px darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding: 20px 0;
    min-height: 50px;
    vertical-align: middle;
}

img.content-info  {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}