.PageFooter {
    border-top: solid 1px darkgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-top: 200x;
    min-height: 50px;
    vertical-align: middle;
}

img.content-info  {
    width: 50px;
    height: 50px;
}


@media (min-width: 1024px) {

    img.content-info  {
        width: 30px;
        height: 30px;
    }
}